
  <div [hidden]="modalClose" class="modal-see-offers">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header d-flex flex-column">
          <div class="col-md-12 d-flex flex-row justify-content-between mb-1">
            <h5 class="modal-title">Nome da cotação / 100kg</h5>
            <button class="modal-close" type="button" (click)="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="col-md-12 d-flex flex-column">
            <small>Retirada: </small>
            <small>Entrega: </small>
          </div>
        </div>
        <div class="modal-body">
          <div class="row line-bottom">
            <div class="col-md-5">
              <span>Nome da empresa</span>
            </div>
            <div class="col-md-3">
              <span>10,00 R$</span>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn accept-button">Aceitar</button>
              <button type="button" class="btn decline-button">Recusar</button>
            </div>
          </div>
          <div class="row line-bottom">
            <div class="col-md-5">
              <span>Nome da empresa</span>
            </div>
            <div class="col-md-3">
              <span>10,00 R$</span>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn accept-button">Aceitar</button>
              <button type="button" class="btn decline-button">Recusar</button>
            </div>
          </div>
          <div class="row line-bottom">
            <div class="col-md-5">
              <span>Nome da empresa</span>
            </div>
            <div class="col-md-3">
              <span>10,00 R$</span>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn accept-button">Aceitar</button>
              <button type="button" class="btn decline-button">Recusar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>