<div class="list-offers-card">
    <div class="list-offers-card-header pb-1 d-flex flex-row justify-content-between">
        <h3> {{ offer.name }} </h3>
        <span class="new-offer-pin" data-toggle="tooltip" data-placement="top" title="Novas ofertas disponíveis">1</span>
    </div>
    <div class="list-offers-card-body row mb-4">
        <div class="col-md-4 mb-2 fs-14 bold">Quantidade:</div>
        <div class="col-md-8 mb-2 fs-14"> {{ offer.quantity }} </div>
        <div class="col-md-4 mb-2 fs-14 bold">Retirada:</div>
        <div class="col-md-8 mb-2 fs-14"> {{ offer.current_address }} </div>
        <div class="col-md-4 mb-2 fs-14 bold">Entrega:</div>
        <div class="col-md-8 mb-2 fs-14"> {{ offer.destiny_address }} </div>
    </div>
    <div class="d-flex flex-row justify-content-center">
        <button *ngIf="!offer.accepted_order" id="openModalButton" type="button" class="btn see-offer-button" (click)="seeOffers()">Ver ofertas</button>
    </div>
</div>

<div *ngIf="!!openModal">
    <app-see-offers-modal [openModal]="openModal"></app-see-offers-modal>
</div>