@import '../../shared/scss/colors';
@import '../../shared/scss/mixins';

.list-offers {
    .list-offers-title {
        border-bottom: 1px solid $dustyGray;
        margin-bottom: 30px;
        padding-bottom: 12px;

        button {
            @include button('default');
        }
    }
}
