$white: #FFFFFF;
$black: #000000;

$fluffy: rgba(169, 147, 235, .26);
$shadow: rgba(13, 12, 14, .48);
$givry: #F9EAC3;
$mineShaft: #464646;
$dustyGray: #A19E9E;
$wildSand: #D5CFCF;
$cardinal: #BD2130;
$fuzzy: #BB5761;
$teaGreen: #BDECB6;
$silverTree: #64B38E;
$oceanGreen: #3AA573;
$havelockBlue: #6C9DDB;
$amasinka: #4587db;